{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Minimal login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags 
        -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet 
        -->
    <link rel="stylesheet" href={% static "CSS/reg.css" %} type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">Minimal login form</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form  method="post" class="">
                        {% csrf_token %}
                        <div class="form-grid">
                            
                            <div class="input-field">
                                <label>Old Password</label>
                                <input type="password" name="opass" id="Password" placeholder="Email" required="" >
                            </div>
                            
                            <div class="input-field">
                                <label>New Password</label>
                                <input type="password" name="npass" id="Password" placeholder="Password"  required="">
                            </div>
                        
                            <div class="input-field">
                                <label>Confirm Password</label>
                                <input type="password" name="cpass" id="Password" placeholder="Password"  required="">
                            </div>
                        
                        </div>
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Remember Me</p>

                        </label>
                        <button type="submit" class="btn btn-primary btn-style">Register Now</button>
                    </form>
                    {% if confirm %}
               <h3>{{confirm}}</h3>
               {% endif %}
                </div>
                
               {% if wrong %}
               <script>
                alert('{{wrong}}')
               </script>
               {% endif %}
               
        <!-- //main content -->
        <!-- footer -->
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src=fontawesome.js></script>

</body>

</html>