<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="post" >
            {% csrf_token %}
            <!-- <input type="radio /> -->
            <label for="radiou">User</label>
            <input type="radio" name="radiouv" value="user" id="radiou" >
            <label for="radiov">Vendor</label>
            <input type="radio" name="radiouv" value="vendor" id="radiov">
            <button type="submit"> submit </button>
        </form>
    </center>
</body>
</html>